#header{
	background-image: url("img/apple.jpg"); 
	background-position: center center; 
	background-size: 100%;
	color: white;
	position: relative;
	padding: 10px;
}

#header>*{
	position: relative;
	z-index: 1;
}

#header:after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
}

/*--- Media Queries --*/
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}

[class*="col-"] {
	padding: 1rem;
}
